# TelegramBot
__pycache__/
cineuropa2017_token.py

# MacOS
.DS_Store

# temporal files for development
cineuropa2015.txt
cineuropa2016.txt

# ActiveSessions file
activeSessions

# environments
.python-version

# Logger
cineuropa2017.log

# backup (and temporary) files
backup/

# OMDB API KEY
omdb_api_key.py
